.group__groupPicture {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.group__groupPicture > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
